<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= json_data %> );

        var options = {
          title: 'Puma memory usage (ruby 2.1.1)',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

	var char_div = document.getElementById('chart_div')
        var chart = new google.visualization.LineChart(chart_div);

        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <div id="chart_div" style="width: 100%; height: 100%;"></div>
  </body>
</html>
